<div id="outer">
    <div id="container">
        <h1 style="color: rgb(211, 211, 211); margin-bottom: 40px; "> {{title}} </h1>

        <div class="editText" *ngFor="let entry of textEntries">
            <input type="text" 
            name="input" 
            placeholder="{{entry}}"
            class="editInside"
            value=""
            id="{{entry}}"
            >
        </div>

        <div class="editText" *ngFor="let entry of passwordEntries">
            <input type="password" 
            name="input" 
            placeholder="{{entry}}"
            class="editInside"
            value=""
            id="{{entry}}"
            >
        </div>

        <div class="dates" *ngFor="let entry of dateEntries">
            <input type="date"
            name="input"
            id="{{entry}}"
            value=""
            >
        </div>
        <button id="signup-btn" (click)="signupClicked()" >Sign Up</button>
    </div>
</div>
